<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title"> Nuevo Mes </h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" name="newMonthForm" accept-charset="UTF-8" autocomplete="off">

      <div class = "form-group form-group-sm">
        <label class="col-sm-1 control-label" for="set_month">Mes</label>
          <div class = "col-xs-4">
            <select id= "set_month" class="form-control" ng-model="new_month" ng-required="true">
              <option ng-repeat="month in month_list" ng-value="{$ $index + 1 $}"> {$ month $} </option>
            </select>
          </div>
          <p class="form-control-static">{$ year $}</p>
        </div>

      <div class="form-group center-block">
        <label class="col-sm-1 control-label" for="set_observation">Notas</label>
        <div class="col-xs-6">
          <textarea id="set_observation" name="observation" class="form-control" rows="3" ng-model="observation"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="submit()">Crear</button>
    <button type="button" class="btn btn-warning" ng-click="clean()">Cancelar</button>
  </div>

</div>
