<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <!-- Turnos -->
        <li class="dropdown" id="turns_menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Turnos <span class="caret"></span></a>
          <ul class="dropdown-menu list-group" role="menu">
            <li class="list-group-item" ng-repeat="turn in scheduleList">
              <a href="/ccm/department/{$ turn.department $}/turns/{$ turn.id $}">{$ monthNames[$index] $}</a>
            </li>
          </ul>
        </li>

        <!-- Miembros -->
        <li class="active"><a href="/ccm/department/{$ group_id $}/members">Miembros</a></li>

        <!-- Roles -->
        <li><a href="/ccm/department/{$ group_id $}/roles">Roles</a></li>

        <!-- Turnos -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="show_monthForm = !show_monthForm" href="#">Nuevo mes</a></li>
            <li class="divider"></li>
            <li><a href="#">Nuevo rol</a></li>
            <li class="divider"></li>
            <li><a href="#">Añadir miembro</a></li>
          </ul>
        </li>

      </ul>
    </div>

    </div>
  </div>
</nav>

<!-- BEGIN PERSON LIST -->
<div id="persons_list">
  <div id="list">
      <a id="id_create" href="{% url 'person_new' %}">
        <div class="action_button button_fixed">
            <img class="action_image" width="24" height="24" src="/static/admin/img/ic_add_box_white_18dp.png"></img>
            <div class="action_text">Crear</div>
        </div>
      </a>

    <!-- BEGIN LIST HEADER -->
    <div class="row_item table_head">
      <!-- SELECT BOX -->
      <div class="row_select">
        <input id="role" type="checkbox" value="all_roles"></input>
      </div>

      <!-- ROL ID -->
      <h1 class="row_text id shift"> ID </h1>

      <!-- ROL NAME -->
      <h1 class="row_text name"> NOMBRE </h1>

      <!-- ROL NAME -->
      <h1 class="row_text "> APPELLIDOS </h1>

      <!-- ROL NAME -->
      <h1 class="row_text"> DEPARTAMENTO </h1>
    </div>
    <!-- END LIST HEADER -->

    <!-- BEGIN OF LIST -->
    {% if person_list %}
    {% for person in person_list %}
    <div class="row_item">
      <!-- SELECT BOX -->
      <div class="row_select">
        <input id="id_choose" type="checkbox" value="{{person.id}}"></input>
      </div>

      <!-- PERSON ID -->
      <div class="row_text id">
        {{person.id}}
      </div>

      <!-- PERSON IMAGE -->
      <img class="row_img" width="50" height="50" src="/static/admin/img/ic_account_circle_black_48dp.png"></img>

      <!-- PERSON NAME -->
      <div class="row_text name">
        {{person.name}}
      </div>

      <!-- PERSON SURNAMES -->
      <div class="row_text">
        <span style="text-transform: capitalize">
          {{person.first_surname}}</span>
        <span style="text-transform: capitalize">
          {{person.second_surname}} </span>
      </div>

      <!-- PERSON DEPARTMENT -->
      <div class="row_text">
        {% for department in person.department.all %}
          {{department.title}}
          {% empty %}
          sin definir
        {% endfor %}
      </div>

      <!-- PERSON MORE INFORMATION -->
      <div class="row_action">
        <a id="id_create" href="{% url 'person_detail' person.id %}">
          <div class="action_button">
              <img class="action_image" width="24" height="24" src="/static/admin/img/ic_info_outline_white_18dp.png"></img>
              <div class="action_text">Ver ficha</div>
          </div>
        </a>

        <!-- PERSON MORE INFORMATION -->
        <a id="id_create" href="{% url 'details' %}">
          <div class="action_button">
              <img class="action_image" width="24" height="24" src="/static/admin/img/ic_assignment_white_18dp.png"></img>
              <div class="action_text">Ver turno</div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<!-- END PERSON LIST -->
