<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <!-- Turnos -->
        <li class="dropdown" id="turns_menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Turnos <span class="caret"></span></a>
          <ul class="dropdown-menu list-group" role="menu">
            <li class="list-group-item" ng-repeat="turn in scheduleList">
              <a href="/ccm/department/{$ group_id $}/turns/{$ turn.id $}/">{$ monthNames[$index] $}</a>
            </li>
          </ul>
        </li>

        <!-- Miembros -->
        <li class="active"><a href="/ccm/department/{$ group_id $}/members/">Miembros</a></li>

        <!-- Roles -->
        <li><a href="/ccm/department/{$ group_id $}/roles/">Roles</a></li>

        <!-- Turnos -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="openNewMonth()" href="#">Nuevo mes</a></li>
            <li class="divider"></li>
            <li><a ng-click="openNewRole()" href="#">Nuevo rol</a></li>
            <li class="divider"></li>
            <li><a href="#">Añadir miembro</a></li>
          </ul>
        </li>

      </ul>
    </div>

    </div>
  </div>
</nav>

<!-- BEGIN PERSON LIST -->
<div class="content">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        MIEMBROS
      </h2>
    </div>

    <table class="table">
      <tr>
        <th>
          <input id="id_choose" type="checkbox" value="all_rows"></input>
        </th>
        <th> ID </th>
        <th> NOMBRE </th>
        <th> APPELLIDOS </th>
        <th> MENU </th>
      </tr>

      <tr ng-repeat="person in memberList">
        <td>
          <input id="id_choose" type="checkbox" value="{$ person.id $}"></input>
        </td>

        <td>
          {$ person.id $}
        </td>

        <td>
          {$ person.name $}
        </td>

        <td>
          <span style="text-transform: capitalize">{$ person.first_surname $}</span>
          <span style="text-transform: capitalize">{$ person.second_surname $} </span>
        </td>

        <td>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Ver ficha</a></li>
                <li class="divider"></li>
                <li><a href="#">Ver turno</a></li>
              </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- END PERSON LIST -->
