{% load staticfiles %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>CCM Audiovisual</title>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main.css' %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta content name="description">
        <meta content name="author">
    </head>
    
    <body>
        <!-- BEGIN HEADER BOX-->
        <div class="head">
            
            <!-- BEGIN TOP NAVIGATION BAR BOX -->
            <div class="nav_bar">
                
            </div>
        </div>
        <!-- END HEADER BOX-->
        <!-- BEGIN PAGE BOX -->
        <div class="page-fullbox">
            <!-- BEGIN SIDE MENU BOX -->
            <div class="page-sidebox" id="side-menu">
                
            </div>
            <!-- END SIDE MENU BOX -->
            <!-- BEGIN MAIN CONTENT BOX -->
            <div class="page-maincontent">
                
            </div>
            <!-- END MAIN CONTENT BOX -->
        </div>
        <!-- END PAGE BOX -->
    </body>
</html>
