{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% load djangular_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/departament_index.css" %}"/>
{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script>angular.module('ng.django.urls').constant('patterns', {% load_djng_urls %});</script>
<script type="text/javascript" src="{% static 'turnos/js/group.module.js' %}"></script>
<script type="text/javascript" src="{% static 'turnos/js/group.service.js' %}"></script>
<script type="text/javascript" src="{% static 'turnos/js/group.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'turnos/js/config/group.config.js' %}"></script>
<script type="text/javascript" src="{% static 'turnos/js/controllers/group.members.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'turnos/js/controllers/dialogs.js' %}"></script>
<script type="text/javascript" src="{% static 'turnos/js/controllers/group.controller.js' %}"></script>

{{ media }}
{% endblock extrahead %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} departamento{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block url %}admin/departamento{% endblock %}

{% block app %}turnos.group{% endblock app%}

{% block page_container %}

<div ng-view></div>

{% endblock %}
