{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/rolesIndex.css" %}" />{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock extrahead %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} roles{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<!-- BEGIN LEFT BOX -->
<div class="content_box">
  <h1 class="content_title"> ROLES </h1>

  <div class="box_content">
    <div class="row_item table_head">
      <!-- SELECT BOX -->
      <div class="row_select">
        <input id="role" type="checkbox" value="all_roles"></input>
      </div>

      <!-- ROL ID -->
      <h1 class="row_text"> ID </h1>

      <!-- ROL NAME -->
      <h1 class="row_text"> TITULO </h1>

      <!-- ROL NAME -->
      <h1 class="row_text"> DEPARTAMENTO </h1>
    </div>

    {% if role_list %}
    {% for role in role_list %}
    <div class="row_item">
      <!-- SELECT BOX -->
      <div class="row_select">
        <input id="id_{{ role.id }}" type="checkbox" value="rol_{{ role.id }}"></input>
      </div>

      <!-- ROL ID -->
      <div class="row_text">
        {{ role.id }}
      </div>

      <!-- ROL NAME -->
      <div class="row_text">
          {{ role.title }}
      </div>

      <!-- ROL NAME -->
      <div class="row_text">
          {{ role.department }}
      </div>
    </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
<!-- END OF BOX -->
{% endblock %}

{% block sidebar %}{% endblock %}
