/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 18, 2014, 9:12:05 AM
    Author     : Principe
*/

.box{
  min-height: 5em;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  background: #B2DFDB;
}

.center{

}

.modifyRoleIcon{
  z-index: 999;
  float: right;
  display: inline-block;
}
