.form_style{
  margin: 8px;
  padding: 4px;
  background-color: white;
  min-height: 1065px;
}

.create_box{
  padding: 0px 4px 4px 4px;
}

.form_image{
  height: 170px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-bottom: 0.1em solid #FF5722;
}

.form_row{
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px 12px;
  overflow: hidden;
  font-family: robotolight;
  font-size: 12px;
  border-bottom: 0.1em solid #FF5722;
  vertical-align: middle;
}

input[type=text], input[type=email]{
  vertical-align: middle;
  width: 20em;
}

input[type=checkbox]{
  background: url('../img/ic_check_box_outline_blank_black_18dp.png') no-repeat;
  margin-right: 8px;
}

.required{
  font-weight: bold;
}

label{
  display: block;
  float: left;
  padding: 3px 10px 0px 0px;
  width: 9em;
  font-size: 12px;
  vertical-align: middle;
}

ul{
  text-transform: capitalize;
}

.form_box{
  display: inline-block;
  padding: 4px;
  margin-left: 16px;
  vertical-align: middle;
}

.error{
  display: inline-block;
  font-family: 'robotobold';
  margin-left: 8px;
  padding: 4px;
  color: red;
  vertical-align: middle;
}

.error_text{
  display: inline-block;
  padding: 4px;
  color: red;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
}

.action_button{
  color: white;
}

.form_button{
  display: inline-block;
  float: right;
  padding: 8px;
}
